:root{
    --background-color-principal: #00001d;
    --background-color-secundario: #009999;
    --background-color-tercero: #868686;
    --color-text-principal: #ffffff;
    --color-decoration-2: #00ffff;
    --color-decoration-3: #00ffffc9;
    --color-decoration-5: #00ffff44;
    --color-beforeBackgroud:#000000ad;
    --color-beforeBackgroud-2:#ffffff49;
    }


$--step--3: clamp(0.5788rem, 0.5574rem + 0.1065vw, 0.64rem);
$--step--2: clamp(0.6944rem, 0.6576rem + 0.1837vw, 0.8rem);
$--step--1: clamp(0.8331rem, 0.7751rem + 0.2902vw, 1rem);
$--step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
$--step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
$--step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
$--step-3: clamp(1.7281rem, 1.4801rem + 1.2402vw, 2.4413rem);
$--step-4: clamp(2.0738rem, 1.7335rem + 1.7011vw, 3.0519rem);
$--step-5: clamp(2.4881rem, 2.0266rem + 2.3076vw, 3.815rem);
$--step-6: clamp(2.9863rem, 2.3665rem + 3.0989vw, 4.7681rem);
$--step-7: clamp(3.5831rem, 2.7562rem + 4.1348vw, 5.9606rem);
$--step-8: clamp(4.3rem, 3.2041rem + 5.4793vw, 7.4506rem);
$--step-9: clamp(5.16rem, 3.7154rem + 7.2228vw, 9.3131rem);
$--step-10: clamp(6.1919rem, 4.2964rem + 9.4772vw, 11.6413rem);
////////////////////////////////////////////  @key globals
@keyframes opacity {
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}

.opacity-show{
    animation: opacity 0.5s ease forwards ;

}
.opacity-hidden{
    animation: opacity 0.5s ease-in forwards reverse;
}
//////////////////////////////////////////// call js
.pause{
    animation-play-state: paused !important;
}
.none{
    display: none;
}